<div class="container"> 

  <h2>Submit new ideas</h2>
  
  <%= form_for @idea do |idea| %>
    <p>
      <%= idea.label :idea_headline %><br />
      <%= idea.text_field :title %>
    </p>

    <p>
      <%= idea.label :idea_detail %><br />
      <%= idea.text_area :body %>
    </p>

    <p>
      <%= idea.submit :Submit %>
    </p>

  <% end %>
  
  <p>
    <%= link_to "Back to ideas", root_path %>
  </p>

</div>